@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}


.content-div:hover {
    background-image: none!important;
    background-color: #0d0d0d!important;
}

.content-div-child {
    opacity: 0;
    height: 100%;
    width: 100%;
}
.content-div-child:hover {
    opacity: 1;
}